<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='shortcut icon' type='image/x-icon' href='assets/favicon.ico' />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ITECGEO</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/maptalks/dist/maptalks.css">

</head>
<body>
    <nav class="navbar is-black is-espaced is-fixed-top">
        <div class="container">
            <div class="navbar-brand">
                <div class="navbar-burger burger" data-target="menu1">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="navbar-menu" id="menu1">
                <div class="navbar-start">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class="control">
                                <a href="#" class="button">
                                    <span class="icon"><i class="fab fa-twitter"></i></span>
                                </a>
                            </p>
                            <p class="control">
                                <a href="https://www.facebook.com/itecgeo" class="button">
                                    <span class="icon"><i class="fab fa-facebook"></i></span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="navbar-end">
                    <a href="#" class="navbar-item">Inicio</a>
                    <a href="#" class="navbar-item">Quienes somos</a>
                    <a href="#" class="navbar-item">Unete</a>
                    <a href="#" class="navbar-item">Blog</a>
                </div>
            </div>
        </div>
    </nav>
    <div id="mapa-head"></div>
    <div class="zone-title">
        <img src="assets/itecgeo4.png" alt="itecgeo.png" class="logo1" >
    </div>

    <div id="mapa-head-prueba"></div>
    <!-- las entradas del blog aqui van-->
    <section class="blog-entries" >
        <div class="has-text-centered button1-area">
                <a class="button is-dark is-outlined is-large" href="https://blog.itecgeo.com">
                        Artículos, tips, tutoriales y mas
                </a>
        </div>
        <div class="container" id="blog-container1"></div>
    </section>
    
    <footer class="footer">
        <div class="content has-text-centered">
          <p>
                © <strong>ITECGEO</strong> 2020
          </p>
        </div>
      </footer>

    <svg height="0" xmlns="http://www.w3.org/2000/svg">
        <filter id="drop-shadow">
            <feGaussianBlur in="SourceAlpha" stdDeviation="5"/>
            <feOffset dx="8" dy="8" result="offsetblur"/>
            <feFlood flood-color="rgba(0,0,0,0.5)"/>
            <feComposite in2="offsetblur" operator="in"/>
            <feMerge>
                <feMergeNode/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
    </svg>
</body>
</html>