$h-head1:30rem;
$margen-entre-secciones:4rem;

header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 3rem;
}

.mapa-obj{
    height: $h-head1;
    width: 100%;
    background-color: black;
    
}

.zone-title{
    position: absolute;
    height:  $h-head1;
    width: 100%;
    top: 0px
}

.zone-title .logo1{
    margin-top: $h-head1/2;
    margin-left:auto;
    margin-right: auto; 
    display: block;
}

section.blog-entries{
    margin-top: $margen-entre-secciones;
}